doctype html
html
	head
		title= 'AdMiRaL'
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css.map')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(src='/javascripts/jquery-1.11.2.min.js')
		srcipt(src='/javascripts/bootstrap.js')